.favorable {
    color: forestgreen;
    font-weight: bolder;
}

.moderate {
    color: yellow;
    font-weight: bolder;
}

.severe {
    color: blueviolet;
     font-weight: bolder;
}

ul {
    list-style-type: none;
}

h4 {
   padding-left:75px;
}

